# Django settings
DJANGO_ENV=prod
DEBUG=0
SECRET_KEY=CHANGE_ME_TO_RANDOM_STRING

# Database
DB_NAME=pingpong_prod
DB_USER=pingpong
DB_PASSWORD=CHANGE_ME
DB_HOST=db
DB_PORT=5432

# Hosts (comma-separated)
ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com

# Postgres (for db service)
POSTGRES_DB=pingpong_prod
POSTGRES_USER=pingpong
POSTGRES_PASSWORD=CHANGE_ME

# Email settings
EMAIL_HOST=smtp.eu.mailgun.org
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=aaabbcccddeeeff
EMAIL_HOST_PASSWORD=aaabbcccddeeeff
DEFAULT_FROM_EMAIL=aaabbcccddeeeff

SITE_DOMAIN=yourdomain.com