# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/static/
/media/
*.log

# Environment
.env
#.env.dev
.env.prod

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

.DS_Store

# Coverage
.coverage
.coverage
htmlcov/
.coverage.*
.codanna
.fastembed_cache