{% load static %}
{% if messages %}
    <div class="mb-4 space-y-2">
        {% for message in messages %}
        <div
        class="rounded-lg border px-4 py-3 {% if message.tags == 'success' %}bg-success/10 border-success text-black{% elif message.tags == 'error' %}bg-destructive/10 border-destructive text-black{% elif message.tags == 'warning' %}bg-warning/10 border-warning text-black{% else %}bg-secondary border-border{% endif %}"
        role="alert">
            <div class="flex items-center gap-2">
                {% if message.tags == 'success' %}
                    <img src="{% static 'pingpong/icons/award.svg' %}" class="w-5 h-5" alt="">
                {% elif message.tags == 'error' %}
                    <img src="{% static 'pingpong/icons/circle-alert.svg' %}" class="w-5 h-5" alt="">
                {% else %}
                    <img src="{% static 'pingpong/icons/info.svg' %}" class="w-5 h-5" alt="">
                {% endif %}
                <span class="font-medium">{{ message }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
